//spacing
$smallest-maximum: 5px
$smaller: 10px
$medium-smaller: 20px
$larger-medium: 40px
$largest-maximum: 80px

//colors
$texts-background-white: #F6F6F6
$texts-background-black: #1F1F1F
$red: #7D0101
$yellow: #994C08
$blue: #314F6C
$gray: #6e6e6e

//typography
$italiana: "Italiana"
$dm-serif-text: "DM Serif Text"
$hind-guntur: "Hind Guntur"

//font sizes
$title-1-2: 48px
$title-3: 36px
$title-4: 21px
$text-size: 14px
$small-text-size: 10px

//line heights
$line-height-title-1-2: 48px
$line-height-title-3: 36px
$line-height-text: 21px
