@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    @apply text-base
}

.closeMenu {
    display: none;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    height: 0vh;
    transition: 0.2s ease, display 0.2s ease allow-discrete;
}

.openMenu {
    width: 100%;
    overflow: auto;
    opacity: 1;
    height: 95svh;
    min-height: 500px;
    display: grid;
    transition: 0.2s ease;

    @starting-style {
        width: 100%;
        padding: 40px 0;
        opacity: 0;
        overflow: hidden;
        height: 0vh;
    }
}

.backgroundTitleViolin::before {
    grid-area: title/title/violin/violin;
}

.backgroundViolinDescription2c::after {
    grid-area: violin/violin/description2c/description2c;
}

@media (min-width:600px) {
    .backgroundTitleViolin::before {
        grid-area: 1/1/3/3;
    }

    .backgroundViolinDescription2c::after {
        grid-area: 3/1/7/3;
    }
}

@media (min-width:1200px) {
    .backgroundTitleViolin::before {
        grid-area: 1/1/2/5;
    }

    .backgroundViolinDescription2c::after {
        grid-area: 2/1/4/5;
    }

    .writingMode {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
}