@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    @apply text-base
}

.closeMenu {
    display: none;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    height: 0vh;
    transition: 0.2s ease, display 0.2s ease allow-discrete;
}

.openMenu {
    width: 100%;
    overflow: auto;
    opacity: 1;
    height: 95svh;
    min-height: 500px;
    display: grid;
    transition: 0.2s ease;

    @starting-style {
        width: 100%;
        padding: 40px 0;
        opacity: 0;
        overflow: hidden;
        height: 0vh;
    }
}