@import "./components/variables"

//mixins
@mixin slider
    padding: 0
    display: flex
    flex-direction: row
    gap: $medium-smaller
    overflow: scroll
    scroll-snap-type: x mandatory

//general styles
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: $texts-background-white

h1
    color: $texts-background-black

h1, h2
    width: max-content
    margin: 0 auto $larger-medium
    font-size: $title-1-2
    line-height: $line-height-title-1-2

h1, h2 > span:first-child
    font-family: $italiana

h1, h2
    span:nth-child(3)
        font-family: $dm-serif-text
        font-style: italic

figure
    width: 100%
    max-width: 350px
    margin: $medium-smaller auto

img
    width: 100%
    margin-bottom: $smaller

button
    all: unset

a
    text-decoration: none

header, main, section, footer
    width: 100%

section
    padding: $larger-medium $medium-smaller

ul, ol
    padding: 0 $smaller
    font-family: $hind-guntur
    font-size: $text-size
    line-height: $line-height-text

    li
        margin: $medium-smaller

p, figcaption
    color: $texts-background-black
    font-family: $hind-guntur
    font-size: $text-size
    line-height: $line-height-text

//specific styles
//header
.header
    position: fixed
    height: 42px
    z-index: 1

.header__logo-buttons, .header__nav-information
    padding: $smaller $smaller
    width: 100%
    background-color: rgba(246, 246, 246, 0.8)
    backdrop-filter: blur(10px)

.header__button--open
    width: 28px

.header__button--close, .header__date, .header__author
    display: none

.header__logo
    font-family: $italiana
    font-size: $title-4
    color: $texts-background-black

.header__logo-buttons
    display: flex
    justify-content: space-between

.hr
    display: none

.header__nav-information
    flex-direction: column
    justify-content: space-between
    height: 92vh
    transform: translate(-100vw, 0)
    transition: 0.1s ease

.header__nav
    width: 100%

    ul
        list-style: none
        padding: 0

    li
        padding: $smaller 0
        margin: $smaller 0
        border-bottom: 1px solid $texts-background-black

        a
            color: $texts-background-black

.header__information
    display: flex
    flex-direction: column
    align-items: center

.header__date
    display: block
    margin: $medium-smaller auto
    width: max-content

.header__author
    display: flex
    margin: $medium-smaller 0
    align-items: center
    justify-content: center
    gap: $medium-smaller
    text-decoration: none
    font-family: $hind-guntur
    font-size: $text-size
    color: $texts-background-black

    h4
        width: max-content
    figure
        width: $larger-medium
        margin: 0

        img
            margin: 0

//main
.main
    padding: 60px $medium-smaller

//works
.works
    color: white
    background-color: $texts-background-black

    &__title
        color: $texts-background-white

    p
        color: $texts-background-white

    li
        color: $texts-background-white

.works__slider
    @include slider

    a
        position: sticky
        object-fit: cover
        flex-shrink: 0
        width: 150px

        img
            border-radius: $smallest-maximum

        figcaption

            h3
                color: $texts-background-white
                font-size: $text-size
                line-height: $text-size

            p
                font-size: $text-size

.works__button--previous, .works__button--next
    display: none

.works__slider::-webkit-scrollbar
    display: none

//learning
.learning__method
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    transition: transform 0.1s

    h3
        width: 100%
        font-size: $title-3
        font-family: $italiana

.learning__methods
    max-width: 350px
    margin: $larger-medium auto 0
    display: flex
    flex-direction: column
    gap: $larger-medium

.learning__method
    div
        width: 100%
        padding: $medium-smaller
        display: flex
        flex-wrap: wrap
        align-items: flex-end
        justify-content: space-between

.learning__method__button--more__svg
    color: $texts-background-white

.learning__method:nth-child(1)
    button
        padding: $smaller
        background-color: $red
        border-radius: 100%

.learning__method:nth-child(2)
    button
        padding: $smaller
        background-color: $yellow
        border-radius: 100%

.learning__method:nth-child(3)
    button
        padding: $smaller
        background-color: $blue
        border-radius: 100%

.learning__method__description, .learning__method__button--back
    display: none

.learning__method__figure
    margin: 0
    filter: grayscale(100%)
    max-width: none
    transition: filter 0.1s linear

    img
        margin: 0

.learning__method__description
    margin-top: $medium-smaller
    color: $texts-background-white

.learning__method__button--back
    margin-left: 80%
    margin-top: $smaller
    background-color: $texts-background-white

//artists
.artists
    color: white
    background-color: $texts-background-black

    h3
        text-align: center
        margin: 0 auto $medium-smaller
        font-size: $title-1-2
        line-height: $line-height-title-1-2
        font-family: $dm-serif-text
        font-style: italic
        color: $texts-background-white

    p
        color: $texts-background-white

    hr
        width: 100%
        margin-bottom: $larger-medium

    figcaption
        color: $texts-background-white
        font-style: italic

.artists__nad
    display: none

.artists__button--previous, .artists__button--next
    display: none

.artists__slider
    @include slider
    list-style: none

    li
        margin: 0
        padding: 0
        position: sticky
        object-fit: cover
        scroll-snap-align: center
        flex-shrink: 0
        width: 100%

        figcaption
            padding: 0 $smaller

        img
            height: 500px
            object-fit: cover

.artists__slider::-webkit-scrollbar
    display: none

//tips
.tips
    padding: $larger-medium $medium-smaller 0

.tips__container__tip
    margin: $larger-medium 0

    h3
        margin-bottom: $medium-smaller
        font-family: $hind-guntur
        font-size: $title-3
        line-height: $line-height-title-3
        color: $texts-background-black

.tips__container__tip__decoration
    display: flex

.tips__container__tip__number
    font-size: 90px
    line-height: 90px

.tips__container__tip__figure
    width: 64px
    margin: 0

//foter
footer
    padding: $medium-smaller
    flex-direction: column
    background-color: $texts-background-black

    hr
        margin-bottom: $medium-smaller

.footer__technologies
    width: 100%

.footer__figure
    display: flex
    flex-direction: row
    width: 80%
    margin: $medium-smaller auto
    align-items: center
    justify-content: center
    gap: $medium-smaller

    figcaption
        color: $texts-background-white

    img
        width: $larger-medium

.footer__date
    width: fit-content
    margin: $larger-medium auto
    color: $texts-background-white

.footer_link
    margin: $medium-smaller 0
    display: flex
    align-items: center
    justify-content: center
    gap: $medium-smaller
    text-decoration: none
    font-family: $hind-guntur
    font-size: $text-size
    color: $texts-background-white

    h4
        width: max-content
    figure
        width: $larger-medium
        margin: 0

        img
            margin: 0

.footer__extra
    color: $texts-background-white
    font-size: $small-text-size
    line-height: $small-text-size
    font-style: italic
